@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hover_link {
        @apply  before:block before:w-0 hover:before:w-2/3 before:h-[1px] before:bg-blue-500 before:absolute before:bottom-[-3px] before:left-0 before:transition-all before:duration-300
        after:block after:w-0 hover:after:w-2/3 after:h-[1px] after:bg-blue-500 after:absolute after:bottom-[-6px] after:right-0 after:transition-all after:duration-300;
    }

    .hover_link_white {
        @apply  before:block before:w-0 hover:before:w-2/3 before:h-[1px] before:bg-white before:absolute before:bottom-[-3px] before:left-0 before:transition-all before:duration-300
        after:block after:w-0 hover:after:w-2/3 after:h-[1px] after:bg-white after:absolute after:bottom-[-6px] after:right-0 after:transition-all after:duration-300;
    }

    .hover_button {
        @apply  relative  overflow-hidden transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-blue-600 before:duration-500 before:ease-out hover:shadow-blue-600 hover:before:h-56 hover:before:w-72;
    }
    .hover_button_ref {
        @apply  relative  overflow-hidden transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-blue-600 before:duration-500 before:ease-out hover:shadow-blue-600 hover:before:h-[100px] hover:before:w-[700px] before:left-[-50px] before:top-[-20px];
    }
    
}

.text-content blockquote,
.text-content b,
.text-content p {
    max-width: 1047px;
}

@media screen and (min-width: 768px) {
    .swiper-banner .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
        position: relative;
    }
    .swiper-banner .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active::after {
        content: "";
        position: absolute;
        right: 40%;
        top: -50px;
        transform: translateX(-50%);
        background: white;
        width: 1px;
        height: 35px;
    }
    .swiper-banner .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        position: absolute;
        transform: rotate(90deg);
        height: 100px;
        right: -48%;
        left: auto;
        bottom: 42%;
    }
}
